body, button, textarea {
    background-color: white;
    color: black;
    font-family: Sans-Serif, sans-serif;
}

h1 {
    padding: 10px;
}

header {
    background-color: blue;
    color: white;
}

#lunarisLogo {
}

.stepNumber {
    font-size: large;
    color: green;
}